@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:not(.button):hover {
    text-decoration: underline;
}

.mini__header-link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin: 0 15px;
    border: burlywood solid 1.5px;
    transform: skew(-40deg);
    display: inline-block;
    padding: 10px 20px;
}

.mini__header-link > span {
    transform: skew(40deg);
    display: inline-block;
}

.mini__header {
    text-align: center;
    padding: 16px 0 17px;
}

.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    padding: 12px 50px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 170px;
    display: inline-block;
}

.button:hover {
    background: #F13C6E;
    color: white;
}

@keyframes metalist {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes metalist {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.header__top-logo__metalist img {
    height: 80px;
    position: absolute;
    animation: metalist 3s infinite;
    animation-play-state: paused;
    z-index: 1;
    left: 40px;
    top: 100px;
}

.header__top-logo__metalist img:hover {
    animation: metalist 3s infinite;
    animation-play-state: running;
}

.header__top-logo__ball img {
    height: 40px;
    position: absolute;
    z-index: 3;
    animation: ball 4s infinite;
}

@keyframes ball {
    0% {
        transform: translate(50px, 10px) rotate(90deg);
    }
    10% {
        transform: translate(100px, 30px) rotate(180deg);
    }
    20% {
        transform: translate(150px, 50px) rotate(360deg);
    }
    30% {
        transform: translate(200px, 60px) rotate(90deg);
    }
    40% {
        transform: translate(250px, 70px) rotate(180deg);
    }
    50% {
        transform: translate(300px, 80px) rotate(360deg);
    }
    60% {
        transform: translate(350px, 90px) rotate(90deg);
    }
    70% {
        transform: translate(400px, 100px) rotate(180deg);
    }
    80% {
        transform: translate(450px, 130px) rotate(360deg);
    }
    90% {
        transform: translate(600px, 160px) rotate(90deg);
    }
    100% {
        transform: translate(750px, 200px) rotate(180deg);
    }
}

@-webkit-keyframes ball {
    0% {
        transform: translate(50px, 10px) rotate(90deg);
    }
    10% {
        transform: translate(100px, 30px) rotate(180deg);
    }
    20% {
        transform: translate(150px, 50px) rotate(360deg);
    }
    30% {
        transform: translate(200px, 60px) rotate(90deg);
    }
    40% {
        transform: translate(250px, 70px) rotate(180deg);
    }
    50% {
        transform: translate(300px, 80px) rotate(360deg);
    }
    60% {
        transform: translate(350px, 90px) rotate(90deg);
    }
    70% {
        transform: translate(400px, 100px) rotate(180deg);
    }
    80% {
        transform: translate(450px, 130px) rotate(360deg);
    }
    90% {
        transform: translate(600px, 160px) rotate(90deg);
    }
    100% {
        transform: translate(750px, 200px) rotate(180deg);
    }
}

.header__top-logo__gate img {
    height: 150px;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 210px;
    transform: rotate(45deg);
}

.button-reverse {
    background: #F13C6E;
    border-color: white;
    color: white;
}

.button-reverse:hover {
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    color: #F13C6E;
}

.button-mini {
    min-width: 130px;
}

.header__top-contact__tel {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
}

.header__top-contact {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(20px);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header__top {
    padding: 20px 0;
    border: 1px solid #EFEFEF;
    height: 300px;
}

.header {
    background: #ffffff;

}

.header__bottom {
    padding: 30px 0;
    text-align: center;
}

.header__bottom-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0 20px;
}

.header__bottom-link:hover {
    text-decoration: underline;
}

.header__top-logo > img {
    transform: rotate(40deg);
}

.banner__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.banner__text {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position-x: 50%;
    padding: 192px 0 190px;
}

.product {
    width: 22.5%;
    background: #FFFFFF;
    text-align: center;
    padding: 25px 30px;
    display: inline-block;
    margin: 0 1.25% 2.5%;
}

.catalog {
    padding: 55px 0 0;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.catalog__row {
    margin: 38px -1.25% -2.5%;
    font-size: 0;
}

.product__title {
    margin: 20px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    height: 40px;
    overflow: hidden;
}

.product__price {
    margin: 15px 0 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}

.product__button {
    margin-top: 10px;
    padding: 9px 50px;
}

.delivery__card {
    display: inline-block;
    margin: 0 1%;
    width: 47.8%;
    background: #F13C6E;
    padding: 35px 45px 35px 40px;
}

.delivery__card-content {
    display: inline-block;
    width: 50%;
}

.delivery__card-icon {
    display: inline-block;
    float: right;
    transform: translateY(20%);
}

.delivery {
    margin: 98px -1% 100px;
}

.delivery__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
}

.delivery__card-text {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 20px 0;
    max-width: 130px;
}

input {
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 25px;
    min-width: 225px;
}

input::placeholder {
    color: #C4C4C4;
}

.partners {
    width: 100%;
    font-size: 0;

}

.partners__item {
    width: 25%;
    display: inline-block;
    text-align: center;
    background: #FFFFFF;
    height: 119px;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;

}

.partners__item:nth-child(4n) {
    border-right: none;
}

.partners__item:nth-last-child(1),
.partners__item:nth-last-child(2),
.partners__item:nth-last-child(3),
.partners__item:nth-last-child(4) {
    border-bottom: none;
}

.partners__item img {
    width: 70%;
    transform: translateY(45%);
}

.footer {
    background: white;
    margin-top: 80px;

}

.footer__nav-col__title {
    max-width: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    padding-bottom: 5px;
}

.footer__nav-col__list {
    border-top: 1px solid #EFEFEF;
    padding-top: 25px;
    padding-left: 0;
    margin-left: 0;
}

.footer__nav {
    font-size: 0;
    margin: 0 -1.25%;
    padding: 50px 0;
    border-bottom: 1px solid #EFEFEF;;
}

.footer__nav-col {
    width: 22.5%;
    margin: 0 1.25%;
    display: inline-block;


}

.footer__nav-col__list-item {
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    line-height: 28px;
}

.footer__nav-col__list a {
    color: #828282;
}

.footer__contacts-socials__icon {
    display: inline-block;
    border: 2px solid #F13C6E;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 20px 0 0;
    transition: 0.3s;
}

.footer__contacts-socials__icon:hover {
    background: #F13C6E;
    color: white;
}

.footer__contacts-socials__icon i {
    color: #F13C6E;
    font-size: 22px;
    transform: translateY(10px);
    transition: 0.3s;
}

.footer__contacts-socials__icon:hover i {
    color: white;
}

.footer__contacts-socials {
    display: inline-block;
    padding: 38px 0;
}

.footer__contact-tel {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
}

.footer__contact {
    transform: translateY(40px);
}

.footer__mini-col {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #828282;
    display: inline-block;
    margin: 0;
}

.footer__mini-row {
    width: 100%;
}

.footer__mini {
    padding: 25px 0;
}

.footer__mini-row a {
    cursor: pointer;
}

.modal {
    position: fixed;
    background: #828282c0;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    z-index: 3;
}

.modal__body {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    max-width: 350px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-radius: 40px;
}

.modal__title {
    position: relative;
    color: red;
    font-size: 20px;

}

.modal.active {
    display: block;
}

.modal__close {
    position: absolute;
    right: 16px;
    top: -17px;
    background: none;
    border: none;
    color: #F13C6E;
    cursor: pointer;
}

.modal__input {
    margin: 20px 0;
    border-radius: 40px;
    border: #F13C6E solid 1px;
}

.partners {
    position: relative;

}

.catalog {
    position: relative;
}

.partners__circle {
    position: absolute;
    background-color: rgba(241, 60, 110, 0.36);
    left: 71%;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    top: 0;
    transform: translateY(100px);
    z-index: -1;
}

